
.app--blocks-block {
    width: 320px;
    height: 480px;
    margin: 10px;
    border: 1px solid #adb5bd;
}

.image--block{
    height: 50%;
    width:100%;
}

img{
    width: 100%;
    height: 16vw;
    object-fit: cover;
}

.block--timestamp{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    font-size:small;
    font-weight: 300;
    color:#adb5bd
}

.block--description{
    padding: 12px;
}

.block--description h2{
    margin-bottom: 10px;
    font-weight: 100;
}

.block--description p{
    color:#6c757d
}
.block--icons{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}


.block--icons img{
    width: 20px;
    height: 20px;
}

.block--icons img:hover{
    cursor: pointer;
    width: 20px;
    height: 20px;
}


.block--clap{
    display: flex;
}

.block--clap p{
    margin-left: 3px;
    color:#6c757d
}

hr{
    margin: auto;
    width: 92% !important;
}


